<template name="header">
  <header class="navbar">
    <div class="row">
      <div class="col-lg-12">
        <div class="nav-brand">
          <a class="brand" href="{{pathFor 'home'}}">Pillow</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-slogan"><em>Say what you feel, with a link</em></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="nav-items">
          <a href="http://blog.pillow.io">Blog</a>
          <a href="http://blindfold.club">Blindfold Club</a>
          <a href="http://pillowtalk.io">Pillow Talk</a>
          <a href="https://pillowtalk.typeform.com/to/l3lZ3h" target="_blank">Submit</a>
        </div>
      </div>
    </div>
  </header>
</template>