<template name="home">
  <div class="row">
    <div class="col-lg-12">
      <div class="home">
        <h1 class="text-center relief">Say what you feel, with a link</h1>
        <p class="text-center lead">We make talking about <strong>sex</strong> a little easier! What will you send?.. And to who?</p>
        <div class="text-center">
          <a type="button" class="btn btn-info btn-lg" href="{{randomUrl}}">Give it to me... <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <h2 class="text-center"><span class="glyphicon glyphicon glyphicon-heart-empty"></span></h2>
      </div>
    </div>
  </div>
</template>